<div class = "test-story">
    <div class = "test-story-body">
         <div  id= "test-story-title">
        <%= story.title %></div>
    <div id ="test-story-name"><%= story.name %>
        </div>
        <div id = "test-story-author">
        <%= story.author %>
    </div>
        <div id = "test-story-description">
<%= story.description %></div>
        <div id = "test-story-genre">
        <%= story.genre %></div>
        <div id= "test-story-id">
        <%= story._id %></div>
        
    
    
    
    
    
    
    
    
    </div>





</div>