<div class = "test-story">
<div class="story-card">
<div class="col-xs-1 col-sm-3 for-story-main">
<div class="story-i">
<h2>TITLE:<%=story.title%></h2>
<h5>AUTHOR:<%= story.author %></h5>
<h3> GENRE:<%= story.genre %></h3>

<h3>ID: <%= story._id %></h3>
    <h6>DESC:<%= story.description %></h6>
    <div class="btn btn-xs btn-default btn-circle link-to-read">Link</div>
    
    
</div>
</div>
</div>